@{
    ViewData["Title"] = "Home Page";
}
<style>
    .well{
        border-radius: 4000px;
    }
</style>
<div class="jumbotron">
        <h1>
          Contoso University
        </h1>
</div>
<div class="page-header"></div>
<div class="row">
    <div class="row text-center">
        <div class="well col-sm-4">
            <a asp-controller="Students" asp-action="Index" class="text-success">
                <img src="~/images/User.png" />
                <h4>
                    <b>
                        Students
                    </b>
                </h4>
            </a>
        </div>
            <div class="well col-sm-4">
                <a asp-controller="Courses" asp-action="Index" class="text-success">
                    <img src="~/images/Education.png" />
                    <h4>
                        <b>
                            Courses
                        </b>
                    </h4>
                </a>
            </div>
                <div class="well col-sm-4">
                    <a asp-controller="Instructors" asp-action="Index" class="text-success">
                        <img src="~/images/Contact.png" />
                        <h4>
                            <b>
                                Instructors
                            </b>
                        </h4>
                    </a>
                </div>
            </div>
    </div>




        @*<div class="btn-group-vertical">
                <a class="btn btn-success" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html" target="_blank">The tutorial can be found here.</a>
                <a class="btn btn-success" href="https://gitbub.com/aspnet/docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final" target="_blank">
                    Download the final project here.
                </a>
            </div>
            <div class="col-md-4">

                <a class="btn btn-success" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html" target="_blank">The tutorial can be found here.</a>

            </div>
            <div class="col-md-4">

                    <a class="btn btn-success" href="https://gitbub.com/aspnet/docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final" target="_blank">
                        Download the final project here.
                    </a>
            </div>*@
    </div>